*{
    box-sizing:border-box ;
     font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1280px;
    margin:auto;
}
.panda-btn{
    border-radius: 6px;
background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);

padding: 14px 34px;
border: none;
color: white;
font-weight:490;
    
  
  
}


.common-sectiob-title{
    font-weight:600;
    font-size:36px;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}
.search-parent{
  position: relative;
color: #BABABA;
}
.search-parent input {
    border-radius:67px;
    background-color: rgb(241, 241, 241);
    padding:12px 30px;
    width:490px;
    border:none;
}
.search-parent i{
    position:absolute;
    top:17px;
    right:20px;



}
.nav-items{
 display: flex;
 list-style: none;
 gap:10px;

}




.nav-items li a{
    text-decoration:none;
    color: #707070;
    font-weight:490;
    font-size:16px;
}
.banner{
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
    padding: 29px;
    border-radius: 10px;
    margin-top: 24px;
}
.banner h2{
     color: rgb(31, 31, 31);

     
font-size: 56px;
font-weight: bold;

}
.banner p{
    color: #4E4E4E;
   max-width: 490px;
}
 
 
.banner img{
    width: 402px;
    height: 178px;
}
.banner-price{
    color: #FF136F;
    font-size: 49px;
    font-weight:bold;
    margin-bottom:14px ;
    display: block;
    margin-bottom: 0;
}

.catagories-card-container{
    display: flex;
    gap:26px;
    width:100%;
    
}
.catagory-card{
 
    display: flex;
    justify-content:space-between;
    align-items:center;    
    gap:4px;
    padding:20px;
    border-radius:10px;
    flex:1;
}
.catagory-card h2{
    color:white;
    font-weight:bold;
    font-size: 30px;
}
.catagory-card:nth-child(1){
   background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
}
.catagory-card:nth-child(2){
background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}

.catagory-card:nth-child(3){
background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
}
.shoes-section{
    background: #F4F4F4;
    padding:49px 0;
}
.shoe-card-container{
    display:flex;
    justify-content:space-between;
    gap:14px;
}
.shoe-card{
    background-color:white;
    border-radius:10px;
}
.card-price{
    display:block;
    font-weight:600;
    font-size:23px;
    margin-bottom:12px;
}
.shoe-card img{
    width:336px;
    height: 202px;
}